@tailwind base;
@tailwind components;
@tailwind utilities;

/* body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    pointer-events: none;
    background: radial-gradient(
      ellipse at center,
      transparent 0%,
      rgba(0, 0, 0, 0.1) 70%,
      rgba(0, 0, 0, 0.4) 100%
    );
  } */

  @layer utilities {
    .vignette::before {
      content: "";
      @apply fixed inset-0 pointer-events-none z-[9999];
      background: radial-gradient(
        ellipse at center,
        transparent 0%,
        rgba(0, 0, 0, 0.2) 70%,
        rgba(0, 0, 0, 0.5) 100%
      );
    }
  }